:root {
  --mygreen: #35b0ab;
  --myred: #ff6666;
  --mywhite: #f7f4f3;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mywhite);
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
}

#logo-container {
  max-height: 100%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.mygreen {
  color: var(--mygreen);
}

.mywhite-bg {
  background-color: var(--mywhite);
}

.myred-bg {
  background-color: var(--myred);
}

nav ul > li {
  background-color: var(--myred);
  border-right: 1px solid var(--mywhite);
}

.shadowed {
  background-color: rgba(0, 0, 0, 0.16);
}

.parallax img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: var(--mygreen);
  font-weight: strong;
}

.page-footer {
  background-color: var(--myred);
}
