:root {
  --mygreen: #35b0ab;
  --myred: #ff6666;
  --mywhite: #f7f4f3;
  --myblue: #22577a;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mywhite);
}

#logo-container {
  max-height: 100%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.mygreen {
  color: var(--mygreen);
}

.mywhite-bg {
  background-color: var(--mywhite);
}

.myred-bg {
  background-color: var(--myred);
}

nav ul > li {
  background-color: var(--myred);
  border-right: 1px solid var(--mywhite);
}

.mobile-menu {
  color: var(--myred);
}

#nav-mobile li {
  background-color: var(--myred);
}

.shadowed {
  background-color: rgba(0, 0, 0, 0.16);
}

.parallax-container .parallax img {
  width: 100%;
}

h1 {
  color: var(--mygreen);
  font-weight: strong;
}

#about {
  padding-top: 64px;
}

.page-footer {
  background-color: var(--myred);
  padding: 20px 0;
}

.page-footer .container {
  display: flex;
  align-items: center;
}

.footer-info {
  display: flex;
}

.footer-links {
  display: flex;
}

.page-footer h5 {
  margin: 0;
}

.page-footer li {
  display: inline;
  padding-right: 8px;
}

.page-footer a {
  color: var(--mywhite);
}
