:root {
  --verdigris: #35b0ab;
  --amaranth: #db324d;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f4f3;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.verdigris {
  color: var(--verdigris);
}

h1 {
  color: var(--verdigris);
  font-weight: strong;
}

.shadowed {
  background-color: rgba(0, 0, 0, 0.16);
}

.page-footer {
  background-color: var(--amaranth);
}
